.glimmer-synth {
  position: relative;
  text-align: center;
  min-width: 25%;
  margin: 0 auto;
  border: 1px solid black;
  @include box-shadow(3px, 3px, 30rem, black, false);

  .display {
    &:before {
      content: '--';
      font-size: 200%;
      position: absolute;
      top: 0;
    }
    position: relative;
    width: 15rem;
    height: 2rem;
    margin: 0 auto;
    background-color: #cee048;
    color: #2f3409;
    @include box-shadow(3px, 3px, 0, #c0cf35, true);

    text-align: left;
    padding: 0.75rem;
    h2 {
      margin: 0;
      font-size: 110%;
      text-transform: uppercase;
      font-weight: 400;
      position: absolute;
      bottom: 0.5rem;
    }
  }

  .controls {
    ul {
      list-style: none;
      display: inline-flex;
      li {
        margin-right: 0.5rem;
        text-align: center;
        button {
          padding: 0;
          cursor: pointer;
          position: relative;
          @include gradient($darkgrey, $black);
          border-radius: 100%;
          height: 3rem;
          width: 3rem;
          overflow: hidden;
          outline-width: 0;
          border: 1px solid black;
          padding: 0;
          color: rgba(255,255,255,0.95);
          span {
            font-size: 1.5rem;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            width: auto;
            height: 90%;
            &.text-icon {
              font-size: 0.75rem;
            }
          }

          &:after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 100%;
            height: 50%;
            background: rgba(0,0,0,0.25);
            border-radius: 75%;
          }

          &.is-active {
            @include gradient($black, $black);
            color: $blue;
          }

          &.text-button {
            width: auto;
            border-radius: 1rem;
            font-weight: 400;
            font-size: 1rem;
            padding: 0 1rem 0 1rem;
          }
        }
      }

    }
  }
}
